body {
    background-color: powderblue;
    text-align: center
  }
  p {
    color: #F08080;
    font-size: 25pt
  }
  label {
    color: #F08080;
    font-size: 25pt
  }
  .two
  {
    color: #F08080;
    font-size: 15pt
  }